/* glossary */
#glossary-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

#alphabet-list {
    margin-right: 30px;
}

.letter-header {
    padding-left: 1rem;
    background-color: #e2e1e1;
    border-style: groove solid groove solid;
    border-color: #e2e1e1;
    max-width: 90%;
}

.alphabet-link {
    display: block;
    text-align: center;
    color: inherit; 
    transition: background-color 0.4s;
}

.alphabet-link:hover,
.alphabet-link:active {
    background-color: #ebebeb;
}

/* glossary item */
.glossary-card {
    margin-bottom: 16px;
    max-width: 90%;
}

.more-info-container {
    display: flex;
    justify-content: end;
    margin-top: 8px; 
}

.more-info {
    cursor: pointer;
}

.expanded-content {
    margin-top: 8px; 
}
